<h1>Welcome to our shop!</h1>
<div class="product-list">
  <div class="flex-grid">
      <h4>Product code</h4>
      <h4>Name</h4>
      <h4>Price</h4>
      <p></p>
    </div>
  <% @products.each do |product| %>
    <div class="flex-grid">
      <p><%= product.product_code %></p>
      <p><%= product.name %></p>
      <p><%= product.price %> €</p>
      <%= button_to 'Add to Cart', add_to_cart_path(product.id), method: :post %>
    </div>
  <% end %>
  <%= button_to 'Checkout', cart_path, method: :get %>
</div>
